:root {
  --mid-width: 720px;
  --full-width: 1080px;

  /* Font stacks */
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --theme: #eaa969;

  --duration: 0.33s;
}
