{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }} {{ define
"js" }}
<script>
  function keydown(e) {
      switch (e.key) {
        {{ with .PrevInSection }}
        case "ArrowRight":
          window.location.href = ("{{ .RelPermalink }}");
          break;
        {{ end }}

        {{ with .NextInSection }}
        case "ArrowLeft":
          window.location.href = ("{{ .RelPermalink }}");
          break;
        {{ end }}
      }
  }
  window.addEventListener("keydown", keydown);
</script>
{{ end }} {{ define "main" }}
<article class="portfolio">
  <ul class="grid">
    <li>
      <header>{{ partial "titlesection" . }}</header>
      {{ partial "tags.html" . }} {{ .Content }}
    </li>
    {{ range .Resources.ByType "image" }}
    <li>
      <div class="Image">
        <img src="{{ .RelPermalink }}" />
      </div>
    </li>
    {{ end }}
  </ul>
</article>
{{ end }}
