{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}

{{ define "main" }}
  <ul class="grid">
    {{ range .Pages }}
      {{ $featured := .Params.image}}
      <li>
        <a href="{{ .RelPermalink}} ">
          <div class="Image">
          {{ range .Resources.ByType "image" }}
            {{ if eq .Name $featured }}
              {{ $image := .Fill "400x400 Center" }}
              <img src="{{ $image.RelPermalink }}">
            {{ end }}
          {{ end }}
          </div>
          <h3>{{ .Title }}</h3>
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
