{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "main" }}
<div class="mid-width">
  <h2>Contact</h2>
<br>
You can contact me directly at <a href = "mailto:vicky.hughes@hotmail.com">vicky.hughes@hotmail.com</a>, or feel free to use the form below.
<br>
<br>
<br>

<form
    action="https://formspree.io/{{ .Site.Params.contactEmail }}"
    method="POST"
  >
    <label
      >Name <input id="name" type="name" name="name" placeholder="John Smith" />
    </label>
    <label
      >Email
      <input
        id="email"
        type="email"
        name="email"
        placeholder="johnsmith@example.com"
      />
    </label>
    <label
      >Message
      <textarea
        id="message"
        name="message"
        placeholder="What would you like to say?"
      ></textarea>
    </label>
    <button class="button-primary" type="submit">Send</button>
  </form>
</div>
{{ end }}
